.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #656666;
  font:15px/20px;

}

img {
height: 100%;
width:217px;
border-right: 1px solid #d0d2d3;
z-index: 100;
/* box-sizing: border-box; */
padding-right: 20px;
padding-left: 10px;
}

.search-great-places{
  border-right: 1px solid #d0d2d3;
  border-bottom: 1px solid #d0d2d3;
  letter-spacing: .013em;
  padding-right: 70px;
  
}

.portlands-latest {
  display: flex;
  flex-direction: row;

}
#words {
  letter-spacing: .086em;
  text-transform: uppercase;
  padding-right: 40px;
}
