<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="zagat-logo">
        </div>
        <div class="search-place-near">
        </div>
        <div class="lastest-city-portland">
        </div>
      </div>
      <div class="citys best">
        <h3>City's Best: Portland</h3>
        <a ng-href="http://www.gravatar.com/avatar/{{hash}}">link1</a>
        <a ng-href="http://www.gravatar.com/avatar/{{hash}}">link1</a>
        <a ng-href="http://www.gravatar.com/avatar/{{hash}}">link1</a>
        <button type="button" name="button">View The Guide</button>
      </div>

    </div>
  </body>
</html>
